@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
	font-family: "JetBrains Mono";
	src: url('/static/fonts/JetBrainsMono[wght].ttf');
}

@font-face {
	font-family: "JetBrains Mono";
	src: url('/static/fonts/JetBrainsMono-Italic[wght].ttf');
	font-style: italic
}

body {
	background-color: #0F1015;
	color: #FFFFFF;
	font-family: "JetBrains Mono";
}
